.ece-a,
.ece-b {
    display: flex;
    margin: 50px;
    border: 1px solid black;
    padding: 10px;
}

.ece-a .ece-img {
    margin-left: 50px;
}

.ece-b .ece-img {
    margin-right: 50px;
}

.ece-img {
    max-height: 200px;
}